@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: calc(100% - 100px);
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: calc(100% - 140px);
    }
}

@media (min-width: 1800px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1776px;
    }
}

.container-small {
    max-width: 1300px;

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        max-width: calc(100% - 300px);
    }
}

body {
    color: #666;
    font-family: 'SKODA', sans-serif;
    line-height: normal;
    overflow-x: hidden;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section-box {
    padding: 30px 0;

    &.section-highlight {
        background-color: #f7f7f7;
    }
}

.bring-up {
    position: relative;
    z-index: 1;
}

.btn-primary {
    background: white;
    border: 0 none;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 3px;
    padding: 1px 20px;
    position: relative;
    text-transform: uppercase;
    transition: border 0.2s ease 0s;
    min-width: 150px;
    height: 50px;
    line-height: 50px;

    &::before {
        content: "";
        background: rgb(248, 13, 105);
        background: linear-gradient(135deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
        border-radius: calc(6px + 1px);
        display: block;
        position: absolute;
        top: -3%;
        left: -3%;
        width: 106%;
        height: 106%;
        z-index: -1;
        filter: blur(6px);
        opacity: 0.6;
        transform: scale(0.9);
        transition: all 2s;
    }

    &::after {
        content: "";
        border-radius: calc(6px + 1px);
        background-image: linear-gradient(135deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
        display: block;
        position: absolute;
        top: -3px;
        left: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        z-index: -1;
        transition: all 2s;
    }

    &.dropdown-toggle::after {
        margin-left: 0;
        border-top: 0;
    }

    &:hover {
        background: white;
        color: black;

        &::before {
            top: -10%;
            left: -10%;
            width: 120%;
            height: 120%;
            animation: animatedGradient 2s infinite;
        }

        &::after {
            animation: animatedGradient 2s infinite;
        }
    }

    &.active,
    &.show,
    &.btn:first-child:active {
        background-color: white !important;
        border-color: white !important;
        color: black !important;
    }

    &.has-icon {
        padding-right: 60px;

        .icon {
            position: absolute;
            right: 20px;
            top: -1px;

            .feather {
                stroke-width: 1.5;
                height: 30px;
                width: 30px;
            }
        }
    }

    &.has-icon-left {
        padding-left: 60px;

        .left-icon {
            position: absolute;
            left: 20px;
            top: -1px;

            .feather {
                stroke-width: 2;
                height: 30px;
                width: 30px;
            }
        }
    }

    &.btn-sm {
        font-size: 16px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        padding: 1px 10px;
        min-width: auto;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        font-size: 14px;
        padding: 0px 14px;
        height: 34px;
        line-height: 34px;

        &.has-icon {
            padding-right: 45px;

            .icon {
                right: 13px;

                .feather {
                    height: 26px;
                    width: 26px;
                }
            }
        }

        &.has-icon-left {
            padding-left: 45px;

            .left-icon {
                left: 13px;

                .feather {
                    height: 26px;
                    width: 26px;
                }

            }

            .icon {
                img {
                    height: 27px;
                }
            }
        }

        &.btn-sm {
            font-size: 13px;
            height: 24px;
            line-height: 24px;
        }
    }

}

@keyframes animatedGradient {
    0% {
        background: linear-gradient(135deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    9% {
        background: linear-gradient(170deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    18% {
        background: linear-gradient(205deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    27% {
        background: linear-gradient(140deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    36% {
        background: linear-gradient(175deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    45% {
        background: linear-gradient(210deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    64% {
        background: linear-gradient(245deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    73% {
        background: linear-gradient(280deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    82% {
        background: linear-gradient(315deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    91% {
        background: linear-gradient(360deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }

    100% {
        background: linear-gradient(135deg,
                rgba(248, 13, 105, 1) 10%,
                rgba(139, 29, 165, 1) 20%,
                rgba(37, 124, 229, 1) 30%,
                rgba(225, 165, 42, 1) 40%,
                rgba(243, 101, 5, 1) 50%,
                rgba(63, 144, 16, 1) 60%,
                rgba(229, 27, 96, 1) 70%,
                rgba(128, 40, 173, 1) 80%,
                rgba(4, 149, 252, 1) 90%,
                rgba(4, 149, 252, 1) 100%);
    }
}

.dropdown {
    .dropdown-menu {
        a {
            font-size: 18px;
            padding: 10px;

            &:hover {
                background: linear-gradient(135deg,
                        rgba(248, 13, 105, 1) 10%,
                        rgba(139, 29, 165, 1) 20%,
                        rgba(37, 124, 229, 1) 30%,
                        rgba(225, 165, 42, 1) 40%,
                        rgba(243, 101, 5, 1) 50%,
                        rgba(63, 144, 16, 1) 60%,
                        rgba(229, 27, 96, 1) 70%,
                        rgba(128, 40, 173, 1) 80%,
                        rgba(4, 149, 252, 1) 90%,
                        rgba(4, 149, 252, 1) 100%);
                ;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .dropdown-menu {
            a {
                font-size: 14px;
                padding: 7px 10px;
            }
        }
    }
}

header {
    .navbar-brand img {
        height: 125px;
    }

    .header-right-top {
        .search {
            position: relative;

            .search-control {
                background-image: linear-gradient(#fff, #fff), linear-gradient(135deg,
                        rgba(248, 13, 105, 1) 10%,
                        rgba(139, 29, 165, 1) 20%,
                        rgba(37, 124, 229, 1) 30%,
                        rgba(225, 165, 42, 1) 40%,
                        rgba(243, 101, 5, 1) 50%,
                        rgba(63, 144, 16, 1) 60%,
                        rgba(229, 27, 96, 1) 70%,
                        rgba(128, 40, 173, 1) 80%,
                        rgba(4, 149, 252, 1) 90%,
                        rgba(4, 149, 252, 1) 100%);
                background-clip: padding-box, border-box;
                background-origin: border-box;
                border-color: transparent;
                border-width: 3px;
                height: 56px;
                font-size: 18px;

                &::placeholder {
                    color: #999;
                }
            }

            .feather {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .get-in-touch {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #333;

            .g-item {
                display: flex;
                align-items: center;
                font-size: 20px;
                margin-left: 50px;
                position: relative;

                .feather {
                    margin-right: 15px;
                }

                &:first-child::after {
                    background: #000;
                    content: "";
                    height: 25px;
                    width: 1px;
                    position: absolute;
                    right: -25px;
                    top: 0;
                }
            }
        }
    }

    .header-right-bottom {
        display: flex;

        .navbar {
            margin-top: 20px;

            .nav-item {
                .nav-link {
                    border: 3px solid rgba(0, 0, 0, 0);
                    border-radius: 6px;
                    color: #333;
                    font-size: 18px;
                    min-width: auto;
                    height: 56px;
                    line-height: 50px;
                    padding: 1px 25px;
                    text-transform: uppercase;
                    transition: all .5s;

                    .feather {
                        margin-top: -5px;
                        margin-right: 8px;
                    }
                }

                &.active {
                    .nav-link {
                        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(135deg,
                                rgba(248, 13, 105, 1) 10%,
                                rgba(139, 29, 165, 1) 20%,
                                rgba(37, 124, 229, 1) 30%,
                                rgba(225, 165, 42, 1) 40%,
                                rgba(243, 101, 5, 1) 50%,
                                rgba(63, 144, 16, 1) 60%,
                                rgba(229, 27, 96, 1) 70%,
                                rgba(128, 40, 173, 1) 80%,
                                rgba(4, 149, 252, 1) 90%,
                                rgba(4, 149, 252, 1) 100%) border-box;
                        font-weight: 600;
                    }
                }

                &:not(.active):hover {
                    .nav-link {
                        background: linear-gradient(135deg,
                                rgba(248, 13, 105, 1) 10%,
                                rgba(139, 29, 165, 1) 20%,
                                rgba(37, 124, 229, 1) 30%,
                                rgba(225, 165, 42, 1) 40%,
                                rgba(243, 101, 5, 1) 50%,
                                rgba(63, 144, 16, 1) 60%,
                                rgba(229, 27, 96, 1) 70%,
                                rgba(128, 40, 173, 1) 80%,
                                rgba(4, 149, 252, 1) 90%,
                                rgba(4, 149, 252, 1) 100%);
                        ;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .navbar-brand img {
            height: 100px;
        }

        .header-right-top {
            .search {
                .search-control {
                    height: 40px;
                    font-size: 14px;
                }
            }

            .get-in-touch {
                .g-item {
                    font-size: 16px;
                    margin-left: 40px;

                    .feather {
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .header-right-bottom {
            .navbar {
                .nav-item {
                    .nav-link {
                        font-size: 14px;
                        font-weight: 600;
                        height: 40px;
                        line-height: 38px;
                        padding: 0px 15px;

                        .feather {
                            margin-top: -6px;
                            margin-right: 2px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

.heading {
    h2 {
        color: #000;
        display: table;
        font-family: 'Ageta';
        font-size: 35px;
        position: relative;
        padding-bottom: 8px;
        margin-bottom: 20px !important;
        text-transform: uppercase;

        &::after {
            content: "";
            background: rgb(84, 125, 194);
            background: linear-gradient(90deg,
                    rgba(84, 125, 194, 1) 0%,
                    rgba(238, 24, 90, 1) 33%,
                    rgba(140, 198, 46, 1) 66%,
                    rgba(250, 122, 38, 1) 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
        }
    }

    &.heading-center {
        h2 {
            margin: 0 auto;
        }
    }

    &.heading-large {
        h2 {
            font-size: 50px;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        h2 {
            font-size: 28px;
            padding-bottom: 5px;
            margin-bottom: 12px !important;
        }

        &.heading-large {
            h2 {
                font-size: 36px;
            }
        }
    }
}

.hero-slider-wrapper {
    position: relative;
    overflow: hidden;

    .hero-slider {
        height: 100%;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                .slick-slide {
                    display: flex;
                    align-items: flex-end;
                    padding-bottom: 150px;

                    &::after {
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        background: linear-gradient(0, rgb(0 0 0 / 50%), transparent);
                        bottom: 0;
                        z-index: -2;
                    }

                    &.slick-current {
                        .slide-caption {
                            h2 {
                                animation: fadeInDown 1.5s 0.8s forwards;
                            }

                            h1 {
                                animation: fadeInDown 1.5s 1.4s forwards;
                            }

                            .cta {
                                animation: fadeInUp 1.5s 3s forwards;
                            }
                        }
                    }
                }

                .slider-bg {
                    display: none;
                }

                .slide-caption {
                    text-align: center;
                    text-transform: uppercase;

                    h2 {
                        color: white;
                        //font-family: 'SKODA';
                        font-size: 40px;
                        font-weight: 600;
                        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                        letter-spacing: 2px;
                        opacity: 0;

                    }

                    h1 {
                        color: white;
                        //font-family: 'SKODA';
                        font-size: 70px;
                        font-weight: 600;
                        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                        margin-bottom: 50px;
                        opacity: 0;
                    }

                    .cta {
                        opacity: 0;
                    }
                }
            }
        }

        .slick-dots {
            bottom: 70px;

            li {
                margin: 0 15px;

                button {
                    background-color: white;
                    border: 2px solid white;
                    border-radius: 50%;

                    &::before {
                        border-radius: 50%;
                        opacity: 0;
                        transition: all 0.5s;
                        font-size: 0;
                    }
                }

                &.slick-active {
                    button::before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        border: 1px solid white;
                        opacity: 1;
                        top: -10px;
                        left: -10px;
                    }
                }
            }

            li,
            li button,
            li button::before {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .hero-slider {
            .slick-list .slick-track .slick-slide {
                padding-bottom: 100px;

                .slide-caption {
                    h2 {
                        font-size: 32px;
                    }

                    h1 {
                        font-size: 50px;
                        letter-spacing: 5px;
                        margin-bottom: 30px;
                    }
                }
            }

            .slick-dots {
                bottom: 45px;

                li {
                    margin: 0 10px;

                    &.slick-active {
                        button::before {
                            width: 30px;
                            height: 30px;
                            top: -8px;
                            left: -8px;
                        }
                    }
                }

                li,
                li button,
                li button::before {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

.theme-footer {
    .footer-sitemap {
        background-color: #060807;
        padding: 20px 0;

        .widget {
            .btn {
                cursor: auto;
                //font-family: 'SKODA';
                font-size: 18px;
                text-transform: capitalize;
                letter-spacing: 1px;
                margin-bottom: 20px;
                padding: 0px 15px;
                height: 40px;
                line-height: 40px;
            }

            ul {
                padding-left: 15px;
                list-style: none;

                li {
                    margin-bottom: 15px;

                    a {
                        color: white;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .footer-standard {
        background: radial-gradient(circle at 5% 100%, rgb(201 53 53) 0%, rgb(248 13 105) 22%, rgb(143 40 213) 22%, rgb(51 77 204) 25%, rgb(19, 30, 37) 25%, rgb(10, 20, 20) 66%);
        padding: 50px 0;

        .img-lg {
            width: 300px;
        }

        .img-md {
            width: 250px;
        }

        .img-sm {
            width: 150px;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .footer-sitemap {
            .widget {
                .btn {
                    font-size: 14px;
                    letter-spacing: 0px;
                    margin-bottom: 15px;
                    height: 32px;
                    line-height: 33px;
                }

                ul {
                    li {
                        margin-bottom: 5px;

                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .footer-standard {
            padding: 25px 0;

            h4 {
                font-size: 16px;
            }

            h5 {
                font-size: 14px;
            }

            .img-lg {
                width: 250px;
            }

            .img-md {
                width: 160px;
            }

            .img-sm {
                width: 120px;
            }
        }
    }
}

.slick-slider {
    .slick-arrow {
        height: auto;
        width: auto;

        .btn-primary {
            padding: 0 10px;
            min-width: auto;

            .feather {
                width: 30px;
                height: 30px;
            }
        }

        &::after,
        &::before {
            font-size: 0px;
        }
    }

    .slick-prev {
        left: -66px;
    }

    .slick-next {
        right: -66px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .slick-arrow {
            .btn-primary {
                padding: 0 5px;

                .feather {
                    width: 26px;
                    height: 26px;
                    stroke-width: 1.5px;
                    margin-top: -2px;
                }
            }
        }

        .slick-prev {
            left: -50px;
        }

        .slick-next {
            right: -50px;
        }
    }
}

.has-enqueryBox {
    .is-fluidBox {
        width: calc(100% - 400px);
    }

    .is-enqueryBox {
        width: 400px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .is-fluidBox {
            width: calc(100% - 350px);
        }

        .is-enqueryBox {
            width: 350px;
        }
    }
}

.productSlider-thumbnail {
    .productSlider-box {
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        .p-info {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 100%);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 25px;
            padding-top: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 0;

            .p-name {
                color: white;
                //font-family: 'SKODA';
                font-size: 30px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 2px;
                margin-bottom: 20px;
                @extend .ellipsis
            }

            .p-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .p-price {
                    color: white;
                    //font-family: 'SKODA';
                    font-size: 26px;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .productSlider-box {
            .p-info {
                .p-name {
                    font-size: 20px;
                }

                .p-footer {
                    .p-price {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.productDetail-slider {
    margin-bottom: 50px;

    .productDeatailImage-slider {
        margin-bottom: 15px;

        .slide {
            border-radius: 20px;
            overflow: hidden;
            height: 650px;

            img {
                width: 100%;
            }
        }
    }

    .productDeatailThumb-slider {
        padding: 0 70px;

        .slide {
            cursor: pointer;
            height: 90px;
            margin: 5px 10px;
            position: relative;

            img {
                height: 100%;
            }

            &.is-active::after {
                content: "";
                background: #f80d69;
                background: linear-gradient(135deg, rgb(248, 13, 105) 10%, rgb(139, 29, 165) 20%, rgb(37, 124, 229) 30%, rgb(225, 165, 42) 40%, rgb(243, 101, 5) 50%, rgb(63, 144, 16) 60%, rgb(229, 27, 96) 70%, rgb(128, 40, 173) 80%, rgb(4, 149, 252) 90%, rgb(4, 149, 252) 100%);
                border-radius: 7px;
                display: block;
                position: absolute;
                top: -5px;
                left: -5px;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                z-index: -1;
                border-radius: 23px;
                opacity: 1;
                transform: scale(1);
                transition: all 2s;
            }
        }
    }

    .slick-prev {
        left: 10px;
        z-index: 1;
    }

    .slick-next {
        right: 10px;
        z-index: 1;
    }
}

.productCategory-slider {
    margin-bottom: 40px;
    padding-bottom: 20px;

    .slick-dots {

        li {
            margin: 0 15px;

            button {
                background-color: #ccc;
                border: 2px solid #ccc;
                border-radius: 50%;

                &::before {
                    content: "";
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    opacity: 0;
                    transition: all 0.5s;
                    font-size: 0;
                }
            }

            &.slick-active {
                button {
                    background-color: #555;
                    border: 2px solid #555;

                    &::before {
                        border: 1px solid #555;
                        opacity: 1;
                        top: -10px;
                        left: -10px;
                    }
                }
            }
        }
    }
}

.faqSlider-thumbnail {
    .faqSlider-box {
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        .f-info {
            background: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.8) 0%,
                    rgba(0, 0, 0, 0) 100%);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 25px;
            padding-top: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 0;

            .f-name {
                color: white;
                //font-family: 'SKODA';
                font-size: 26px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }

            .f-details {
                color: #fff;
                //font-family: "SKODA";
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 1px;
                margin-bottom: 15px;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .faqSlider-box {
            .f-info {
                .f-name {
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 8px;
                }

                .f-details {
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.faq-thumbnail {
    margin-bottom: 50px;

    .faq-box {
        img {
            border-radius: 20px;
        }

        .f-info {
            .f-name {
                color: #333;
                //font-family: 'SKODA';
                font-size: 30px;
                font-weight: 600;
                line-height: 30px;
                margin: 15px 0 30px;
            }
        }
    }
}

.faqImages-slider {
    .slick-prev {
        left: 20px;
        z-index: 1;
    }

    .slick-next {
        right: 20px;
        z-index: 1;
    }
}

.updateHorizontal-slider {
    .updateHorizontalSlider-thumbnail {
        .updateHorizontalSlider-box {
            border-radius: 20px;
            overflow: hidden;
            position: relative;

            .u-info {
                background: rgba(0, 0, 0, 0.7);
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 25px 30px;
                position: absolute;
                bottom: -200px;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 0;
                transition: all 2s;

                .u-name {
                    color: #fff;
                    //font-family: 'SKODA';
                    font-size: 28px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }

                .u-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .u-location {
                        color: white;
                        font-size: 18px;
                        //font-family: "SKODA";
                        letter-spacing: 1px;
                    }
                }
            }
        }

        &.slick-current {
            .u-info {
                bottom: 0;
            }
        }
    }

    .slick-arrow.slick-prev {
        left: 20px;
        z-index: 1;
    }

    .slick-arrow.slick-next {
        right: 20px;
        z-index: 1;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .updateHorizontalSlider-thumbnail {
            .updateHorizontalSlider-box {
                .u-info {
                    padding: 25px 30px;

                    .u-name {
                        font-size: 22px;
                        line-height: 22px;
                    }

                    .u-footer {
                        .u-location {
                            color: white;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}

.updateVertical-slider {
    height: 100%;
    padding-bottom: 70px;

    .updateVerticalSlider-thumbnail {
        border: 1px solid #e6e6e6 !important;
        border-radius: 20px;
        margin-bottom: 20px;

        .updateVerticalSlider-box {
            padding: 25px;

            .left-block {
                width: 150px
            }

            .right-block {
                width: calc(100% - 150px)
            }

            img {
                border-radius: 20px;
            }

            .u-info {
                .u-name {
                    color: #000;
                    //font-family: "SKODA";
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 26px;
                    margin-bottom: 15px;
                }

                .u-details {
                    color: #666666;
                    //font-family: "SKODA";
                    font-size: 20px;
                    letter-spacing: 1px;
                    line-height: 20px;
                }
            }

            .u-btn {
                margin-top: 20px;
                text-align: right;
            }
        }

        &.slick-current {
            background-color: #f2f2f2;
            border-color: #f2f2f2 !important;
            position: relative;
            z-index: 0;
        }
    }

    .slick-arrow {
        bottom: 0;
        top: auto;
        transform: translateY(0);
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        padding-bottom: 40px;

        .updateVerticalSlider-thumbnail {
            margin-bottom: 15px;

            .updateVerticalSlider-box {
                padding: 15px;

                .left-block {
                    width: 110px
                }

                .right-block {
                    width: calc(100% - 110px)
                }

                .u-info {
                    .u-name {
                        font-size: 18px;
                        line-height: 18px;
                        margin-bottom: 8px;
                    }

                    .u-details {
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 16px;
                    }
                }

                .u-btn {
                    margin-top: 13px;
                }
            }
        }
    }
}

.moreUpdates-slider {
    .slick-dots {

        li {
            margin: 0 15px;

            button {
                background-color: #ccc;
                border: 2px solid #ccc;
                border-radius: 50%;

                &::before {
                    content: "";
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    opacity: 0;
                    transition: all 0.5s;
                    font-size: 0;
                }
            }

            &.slick-active {
                button {
                    background-color: #555;
                    border: 2px solid #555;

                    &::before {
                        border: 1px solid #555;
                        opacity: 1;
                        top: -10px;
                        left: -10px;
                    }
                }
            }
        }
    }
}

.viewAllUpdate-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.enquire-form {
    .is-addon {
        background: #eee;
        justify-content: center;
        height: 40px;
        width: 40px;
        padding: 5px;

        .feather {
            color: #666;
        }
    }

    .information-text {
        color: #555;
        display: block;
        font-size: 12px;
        margin-bottom: 15px;
    }

    &::after {
        content: url("../images/send.svg");
        opacity: 0.1;
        position: absolute;
        left: -10px;
        bottom: -20px;
        z-index: -1;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .is-addon {
            height: 32px;
            width: 32px;
        }

        .form-control,
        .form-select {
            font-size: 14px;
            padding: 4px 7px;
        }
    }
}

.info-block {
    height: 100%;

    .card {
        border: 0 none;
        box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 5px 3px rgba(0, 0, 0, .1);
        border-radius: 10px;
        height: 100%;
        overflow: hidden;

        .card-header {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            height: 60px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px 15px;

            .icon {
                width: 40px;
                height: 40px;
                filter: invert(1);
                margin-right: 10px;
            }
        }

        .card-body {
            display: inline;
            //font-family: 'SKODA';
            padding: 20px;
        }

        &.card-blue {
            .card-header {
                background-color: #3399cc;
            }
        }

        &.card-purple {
            .card-header {
                background-color: #8f28d5;
            }

            .card-body {
                font-size: 20px;
            }
        }

        &.card-red {
            .card-header {
                background-color: #ee0f74;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .card {
            .card-header {
                font-size: 20px;
                font-weight: normal;
                height: 46px;
                letter-spacing: 0;

                .icon {
                    width: 28px;
                    height: 28px;
                }
            }

            .card-body {
                padding: 15px;
            }

            &.card-purple {
                .card-body {
                    font-size: 16px;

                    .feather {
                        stroke-width: 1.5;
                    }
                }
            }
        }
    }
}

.parallax {
    position: relative;

    &::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .ourProducts-banner {
        color: white;
        text-align: center;
        padding: 45px 0 15px;
        position: relative;
        z-index: 1;

        .p-title {
            font-family: 'Ageta';
            font-size: 50px;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        .p-subTitle {
            font-size: 24px;
            margin-bottom: 40px;
        }

        .p-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 26px;
            margin-top: 24px;

            .feather {
                width: 44px;
                height: 44px;
                stroke-width: 1;
                margin-right: 20px;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .ourProducts-banner {
            .p-title {
                font-size: 34px;
            }

            .p-subTitle {
                font-size: 16px;
            }

            .p-contact {
                font-size: 18px;

                .feather {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                }
            }
        }
    }
}

.information-box {
    .img-box {
        img {
            border-radius: 20px;
        }
    }

    .contect-box {
        .i-title {
            color: #333;
            //font-family: 'SKODA';
            font-size: 28px;
            font-weight: 600;
            line-height: 35px;
            margin-bottom: 15px;
        }

        .i-details p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .contect-box {
            .i-title {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
            }

            .i-details p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.update-box {
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all 0.5s;

    .img-box {
        background-size: cover;
        background-position: center center;
        border-radius: 20px;
    }

    .contect-box {
        padding: 50px 20px;

        .u-title {
            color: #333;
            //font-family: 'SKODA';
            font-size: 34px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 30px;
        }

        .u-details p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &.is-active,
    &:hover {
        background-color: #f1f1f1;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .contect-box {
            padding: 30px 20px;

            .u-title {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 10px;
            }

            .u-details p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.pagination {
    .page-item {
        margin: 0 5px;

        &.go-prev .page-link,
        &.go-next .page-link {
            padding: 0;
            margin: 0 !important;
            background-color: #0b0c2c;
            color: white;
            height: 30px;
            width: 30px;
            border-radius: 30px;
            margin-left: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        &.disabled {
            .page-link {
                background-color: transparent;
            }

            &.active,
            &:hover {
                .page-link {
                    background-color: transparent !important;
                    cursor: not-allowed;
                }
            }
        }

        &:not(.go-next):not(.go-prev):not(.disabled) {
            .page-link {
                background: white;
                border: 2px solid #ccc;
                border-radius: 10px;
                color: #0b0c2c;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                padding: 0;
            }
        }

        .page-link {
            border: 0 none;
            font-size: 18px;
            font-weight: 600;
            transition: all 0.5s;
        }

        &.active,
        &:hover {
            .page-link {
                background-color: #ccc !important;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .page-item {
            margin: 0 5px;

            &:not(.go-next):not(.go-prev):not(.disabled) {
                .page-link {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                }
            }

            .page-link {
                font-size: 16px;
            }

        }
    }
}

.page-title {
    .background-container {
        background: url("../images/parallax/banner-1.jpg") center center/cover no-repeat local;
        color: var(--theme-base-white);
        height: 350px;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            background-color: rgba(0, 0, 0, 0.5);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .p-container {
            color: white;
            //font-family: 'SKODA';
            text-align: center;

            .p-mainTitle {
                font-size: 65px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 4px;
            }

            .p-subTitle {
                font-size: 32px;
            }
        }
    }

    .breadcrumb-container {
        .breadcrumb {
            li {
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    color: #000;
                    font-size: 18px;
                    padding: 13px 20px;
                    text-decoration: none;
                    text-transform: uppercase;

                    .feather {
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                        stroke-width: 1.5;
                    }

                    &.is-active {
                        font-weight: 600;

                        .feather {
                            opacity: 0;
                            width: 1px;
                        }
                    }
                }

                &::after {
                    content: "";
                    height: 30px;
                    width: 1px;
                    position: absolute;
                    background: #666;
                    top: 50%;
                    right: -7px;
                    transform: translateY(-50%);
                }

                &:last-child::after {
                    display: none;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .background-container {
            height: 300px;

            .p-container {
                .p-mainTitle {
                    font-size: 46px;
                }

                .p-subTitle {
                    font-size: 26px;
                }
            }
        }

        .breadcrumb-container {
            .breadcrumb {
                li {
                    a {
                        font-size: 14px;
                        padding: 6px 15px;

                        .feather {
                            width: 24px;
                            height: 24px;
                            stroke-width: 1.5;
                        }
                    }
                }
            }
        }
    }
}


.textify {

    .word,
    .char {
        display: inline-block;
        will-change: transform, opacity;
    }

    .line-box,
    .line {
        overflow: hidden;
    }

    .char {
        position: relative;
    }

    .char::before,
    .char::after,
    .word::after,
    .word::before,
    .line::after,
    .line::before {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        transition: inherit;
        display: none;
    }

    .char::before,
    .char::after {
        content: attr(data-char);
    }

    .word::after,
    .word::before {
        content: attr(data-word);
    }

    .line::after,
    .line::before {
        content: attr(data-line);
    }
}

.mf-cursor {
    &::after {
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        top: -24px;
        left: -24px;
        border: 1px solid #673AB7;
        border-radius: 40px;
        transform: scale(0.9);
    }

    &::before {
        transform: scale(0.5);
        background: linear-gradient(140.54deg, rgb(96, 141, 0) 0%, rgb(211, 0, 0) 72.37%), linear-gradient(58.72deg, rgb(0, 41, 255) 0%, rgb(143, 255, 0) 100%), radial-gradient(100% 164.72% at 100% 100%, rgb(97, 0, 255) 0%, rgb(0, 255, 87) 100%), radial-gradient(100% 148.07% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);
        background-blend-mode: color-dodge, overlay, difference, normal;
    }

    &.-hidden {

        &::after,
        &::before {
            transform: scale(0);
        }
    }

    &.-pointer {

        &::after,
        &::before {
            transform: scale(0.2);
        }
    }

    &.-text {
        &::after {
            transform: scale(0);
        }

        &.-pointer .mf-cursor-text {
            font-size: 0;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        &::after {
            width: 40px;
            height: 40px;
            top: -20px;
            left: -20px;
            transform: scale(0.75);
        }

        &::before {
            transform: scale(0.4);
        }

        &.-text {
            &::before {
                transform: scale(1.4);
            }

            .mf-cursor-text {
                font-size: 12px;
                line-height: normal;
            }
        }

        &.-pointer {
            &::before {
                transform: scale(0.15);
            }
        }
    }
}